.burger-menu {
	&__stick {
		position: relative;
		display: flex;
		right: 4px;
		width: 10px;
		height: 2px;
		background-color: #fff;
		border-radius: 1px;
		&::before,
		&::after {
			position: absolute;
			content: '';
			left: 0;
			height: 2px;
			border-radius: 1px;
			background-color: #fff;
			transition:
				top 0.3s linear,
				transform 0.3s ease-in 0.2s,
				width 0.3s linear 0.2s;
		}
		&::before {
			width: 18px;
			top: -7px;
		}
		&::after {
			width: 14px;
			top: 7px;
		}
	}
	&.burger-menu--active {
		z-index: 99;
		.burger-menu__stick {
			background-color: transparent;
			right: 6px;
			&::before,
			&::after {
				width: 22px;
				top: 0;
				transition:
					top 0.3s linear 0.3s,
					transform 0.3s ease-in 0.2s;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}
