$background-color: #f8f8f8;
$color-text: #1b1c21;
$color-text-gray: #7e7e82;

$font-size-standard: 16px;
$font-size-additional: 14px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;
$desktop-big-desktop: 1440px;

@mixin decor-text {
	position: absolute;
	content: '';
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3e%3c/svg%3e ");
	left: -16px;
	top: 50%;
	width: 4px;
	height: 40px;
	transform: translateY(-50%);
}

@mixin linear-text($width,$left) {
	position: absolute;
	content: '';
	width: $width;
	height: 2px;
	background-color: #000000;
	left: $left;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}
